<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <a href="/blogs">View Blogs</a>
        <form action="/processRegister" method="post">
            <label for="Username">Blog Author</label>
            <input type="text" id="username" name="username">
            <br>
            <label for="email">Email</label>
            <input type="Email" id="email" name="email">
            <br>
            <label for="password">Password</label>
            <textarea name="password" id="password"></textarea>
            <br>
            <input type="submit">
        </form>
    </div>
</body>
</html>